@charset "utf-8";
/* CSS Document */
@font-face{
    font-family: 'digital';
    src:url('DISPLAY FREE TFB.ttf');
}

*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    position:relative;
    perspective:1000px;
}
#particle{
    width: 100%;
    height:100%;
    background-color: #818FA3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 0;
}
#wrapper{
    height: auto;
    width: 100%;
    background-color:#aaa;
    
}
#content-wrapper{
    width: 80%;
    margin: 0 auto;
    z-index:999;
    position:relative;
    padding: 50px 0;
    background-color:transparent;
}

#sample1{
    width: 70%;
    height:400px;
    z-index:100;
    margin: 0 auto;
    transform-style: preserve-3d;
    -moz-transform-style:preserve-3d;
    
}
.flex{
    display: flex;
}
.jcc{
    justify-content: center;
}
.jcse{
    justify-content: space-evenly;
}
.aic{
    align-items: center;
}
.aifa{
    align-items:flex-end;
}
.sample1{
    /*border:3px solid #000;*/
    background-color:#E5E5E5;
    border-radius:10px;
}
.sample1__top{
    height: 40%;
    border: 1px solid #ccc;
    background-color: #DEDBDB;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
    position: relative;
}
.sample1_circle{
    width: 50px;
    height: 50px;
    border:1px solid #C8C8C8;
    border-radius:50%;
background-color: #DCD9D4;
 background-image: linear-gradient(135deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
 position:relative;
}
.sample1_circle::before{
    content:"";
    display: block;
    width: 50px;
    height: 50px;
    border-radius:50%;
    background:linear-gradient(135deg,#DEDBDB 10%,transparent 100%);
    position:absolute;
    top: -3px;
    left: -3px;
}
.sample1_circle:nth-of-type(1)::after{
    content:"ECO+CARE";
    position:absolute;
    left: 50%;
    bottom: -25px;
    font-size: 20px;
    color:#949494;
    transform:translateX(-50%);
}
.sample1_display{
    width: 60%;
    height: 65%;
    border-radius:10px;  
    background-color:rgba(121,0,255,0.15);
}

.sample1__bottom{
    position: relative;
    transition:none!important;
    padding-bottom: 32px;
    padding-top: 20px;
    z-index:100;
}

.innerbtn{
    justify-content: space-evenly;
    opacity:0;
    padding: 6px 0;
    transition:all .4s linear;
    background-color:#CCCCCC;
    box-shadow: 2px 2px 5px -2px rgb(10 10 10 / 10%), 3px 2px 10px -6px #444 inset;
}
.open{
    opacity:1;
}
.innerbtn p {
    width: 50px;
    height: 50px;
    text-align:center;
    line-height: 50px;
    padding: 3px;
    font-size: 16px;
    /* box-shadow: 0px 0px 0px -2px rgb(10 10 10 / 10%), 3px 2px 10px -6px #444; */
    border:1px solid #C1C1C1;
    border-radius:15px;
    position:relative;
}

.degree::before,.amount::before{
    content:"▲";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(255, 110, 100,.6);
    position:absolute;
    top:50%;
    left:-40%;
    transform:translate(-50%,-50%);
    font-size: 30px;
    line-height: 40px;
    color:#eee;
    box-shadow: 2px 2px 5px -2px rgb(255 110 100 / 100%), 3px 2px 10px -6px #444;

}
.degree::after , .amount::after{
    content:"▼";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(100, 100, 255,.6);
    position:absolute;
    top:50%;
    right:-40%;
    transform:translate(50%,-50%);
    font-size: 30px;
    line-height: 40px;
    color:#eee;
    box-shadow: 2px 2px 5px -2px rgb(100 100 255 / 100%), 3px 2px 10px -6px #444;
}
.amount{
    margin-left: 50px;
}
.addHot{
    background-color:rgba(255, 110, 100,.6);
    margin-right: -50px;
    color:#eee;
    font-weight: bolder;
}
.addCool{
    background-color:rgba(100, 100, 255,.6);
    font-weight: bolder;
    color:#eee;
}
.panel-overlay{
    position:relative;
    height: calc(60% - 30px);
    flex-direction: column;
    justify-content: flex-end;
}
.hideBox{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#DEDBDB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity:0;
    transform:rotateY(0);
    transform-style:preserve-3d;
    transform-origin:bottom center;
    transition:all .8s linear;
    z-index:-1;
    box-shadow:0px 0px 0px -2px rgb(10 10 10 / 10%), 1px -3px 8px 2px rgb(10 10 10 / 20%) inset}
.hideBoxShow{
    opacity:1;
    transition:all .5s linear;
    transform:rotateX(-180deg);
    
}
.sample1__top::after{
    content:"▼";
    position: absolute;
    bottom:-25px;
    right: 5px;
    font-size: 15px;
    color: #8E8D8D;
    display: block;
    transform:rotate(-90deg);
}
.sample1__bottom::before{
    content:"OYU";
    position:absolute;
    bottom:5px;
    left:5px;
    font-size: 22px;
    color: #5c5c5c;
    letter-spacing: .1em;
}
.opentrigger{
    font-size: 20px;
    text-align: right;
    color: #8E8D8D;
    cursor:pointer;
    padding: 0 25px 0 10px;


}
/* .sample1__bottom::after{
    content:"open";
    position: absolute;
    top:0;
    right: 25px;
    font-size: 28px;
    color: #5C5C5C;
    cursor:pointer;
} */

.sample1__bottom .l-button{
    width: 70px;
    height: 70px;
    border:1px solid #C1C1C1;
    border-radius:15px;
    box-shadow: 0px 0px 0px -2px rgba(10,10,10,0.1), 3px 2px 10px -6px #444 inset;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 5%;
    cursor:pointer;
    z-index:10;
}
.sample1__bottom .l-button:last-child{
    margin-right: 0;
}

.sample1__bottom p{
    font-size: 20px;
    color: #929292;
    font-weight: bolder;
    margin: auto;
    letter-spacing: .15em;
}
.sample1__bottom div:nth-of-type(1) p{
    line-height: 50px;
}
.sample1__bottom div:nth-of-type(2) p{
    line-height: 50px;
}
.add-mt{
   margin-top:5px;
    
}
.sample1_display {
 color:rgba(35,0,74,0.85);
}
.sample1_display > p span{
    letter-spacing: 0.01em;
    display: block; transform:skewX(-5deg);
    position:relative;
    z-index:100;
}
.sample1_display > p span::after{
    content:"℃";
    display: block;
    position:absolute;
    font-size: 20px;
    bottom:5px;
    left: 92%;
    font-family: sans-serif;
    transform:skewX(0);
}
.sample1_display > p:first-child span::before{
    content:"シャワー";
    display: block;
    position:absolute;
    font-size: 12px;
    top:-20px;
    left: 60%;
    font-family: sans-serif;
    font-weight: lighter; transform:translateX(-50%) skewX(0);
    white-space: nowrap;
}
.sample1_display > p:last-child span::before{
    content:"ふろ";
    display: block;
    position:absolute;
    font-size: 12px;
    top:-20px;
    left: 50%;
    font-family: san-serif;
    font-weight: lighter; transform:translateX(-50%) skewX(0);
    white-space: nowrap;
    letter-spacing:1em;
}
.display__center{
    flex-direction: column;
    justify-content: space-between;
   align-items:center;
    padding: 5px 0 12px 0;
    box-sizing: border-box;
    height: 100%;
}
.mark{
    opacity:0;
}
.colormark span{
    transform:skew(0);
    font-size: 22px;
    font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}
#sample-outer{
    width: 95%;
    margin: 0 auto;
    padding: 100px 0 70px;
}
.on{
    opacity:1;
}
.fa-bell{
    color:rgba(255,255,0,.50);
}
.yusuen{
    color:rgba(0,129,0,0.50);
}
.oi{
    color:rgba(0,0,255,.5);
}
.jidou{
    color:rgba(95,95,95,0.80);
}
.fa-power-off{
    color:rgba(255,0,0,.50);
}
.display__center p{
    font-size: 22px;
    position:relative;
    letter-spacing:0.1em;
}

@keyframes tenmetu{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.display__center p::after{
    content:":";
    position:absolute;
    display: block;
    top:-3px;
    left:48%;
    transform: translateX(-50%);
    font-family: san-serif;
    animation:tenmetu 2s infinite forwards;
}
.display__center span{
    margin: 0 5px 0 0;
}
.display__center span:last-child{
    margin-right: 0;
}
.sample1_display > p:last-of-type span{
    letter-spacing: 0.25em;
}
.sp-font{
    font-family: 'digital';
    font-weight:bold;
    font-size: 60px;
}
.text-wrapper{
    overflow:hidden;
}
.text-wrapper:nth-of-type(3){
    margin-top: 200px;
}
.text{
    width: 80%;
    margin: 0 auto;
    font-family: serif;

    transform-style:preserve-3d;
}
.text .__main{
    font-size: 50px;
    letter-spacing:0.02em;
    font-weight: bolder;
    color: rgba(58,70,111,1.00);
    z-index:1000;
}
.__desc{
    font-size: 25px;
    color: rgba(65,65,65,1.00);
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index:1000;
}

.solution-wrapper{
    flex-direction:column;
    align-items:flex-end;
    width: 80%;
    margin: 100px auto 50px;

}
.bath-img{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.bath-img:nth-child(1) > img{
    min-width: 300px;
    display: block;
}
.bath-img:nth-child(2) > img{
    min-width: 300px;
    display: block;
}
.bath-img:nth-child(3) > img{
    min-width: 300px;
    display: block;
}
.bath-img:nth-child(1) > .text{
    margin-top: 40px;
    margin-right: auto;
    margin-left: 30px;   
    min-width: 280px;
}
.bath-img:nth-child(2) > .text{
    margin-top: 40px;
    margin-right: auto;
    margin-left: 30px;   
    min-width: 280px;
}
.bath-img:nth-child(3) > .text{
    margin-top: 40px;
    margin-right: auto;
    margin-left: 30px;   
    min-width: 350px
}

.bath-img:nth-child(2){
    justify-content:flex-start;
}

.bath-img .text .__desc{
    color:#444;
    margin-right: 5%;

}
 .bath-img .text .__desc span{
    background-color:#ddd;
    padding: 10px 20px;
}

.bath-img .text > p:last-child{
    margin-top: 30px;
    font-size: 20px;
    color:#444;
}
.bath-img .text .__desc span:last-child {
    margin-top: 0;
    display: inline-block;
}
.hidetext{
    transform:translateX(70%);
    opacity:0;
    transition:all 1s ease-in;
    visibility:hidden;
}

.hidetext:nth-child(2n){
    transform:translateX(-70%);
}

.showtext{
    transform:translate(0);
    opacity:1;
    visibility: visible;
}

.showtext:nth-child(2n){
    transform:translate(0);
    opacity:1;

}

.slidedown{
    transform:translateY(100%);
    transition: all .7s ease;
}

.slideup{
    transform:translateY(0);
}

.panel-display{
    width: 100%;
    background-color:rgba(121,0,255,0.15);
    z-index:999;
    position:relative;
    height: 100px;
}

.panel-display::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100px;
    background-color:rgba(255,255,255,.2);
    z-index:1000;
}
.__inner-text{
    font-family: 'DotGothic16', sans-serif;
    font-size: 60px;
    color: rgba(35,0,74,1);
    text-align:center;
    position:relative;
    z-index:999;
    line-height: 100px;
    letter-spacing:.2em;
}
.footer{
    background-color:#E4E4E4;
    position:relative;
    z-index:999;
    font-family: "游ゴシック", "メイリオ", "ＭＳ Ｐゴシック", "ＭＳ Ｐ明朝", "sans-serif";
}
.footer p:first-child{
    font-size: 20px;
    margin-bottom: 20px;
}
.footer ul{
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer ul li{
    list-style:none;
    margin-right: 10px;
/*
    border:1px solid #000;
*/
    width: 25%;
    box-shadow: 0px 0px 0px -2px rgba(10,10,10,0.1), 3px 2px 10px -6px #444;
    border-radius:10px;
}

.footer ul li a{
    color:#222;
    text-decoration:none;
    display: block;
    padding: 15px 20px;
    text-align:center;
    letter-spacing:0.1em;
}

.footer ul li a:hover{
    box-shadow: 5px 5px 10px -2px rgba(10,10,10,0), 5px 5px 10px -6px #444 inset;
    border-radius:10px;
}

.copyright{
    text-align:center;
}
@media screen and (max-width:768px){
    #content-wrapper{
        width: 90%;
    }
    #sample1{
        width: 100%;
    }
    .sp-font{
        font-size: 45px;
    }
    .text .__main{
        font-size: 35px;
    }
    .__desc{
        font-size: 25px;
    }
    .bath-img{
        flex-direction: column;
    }
    .bath-img:nth-child(2){
        flex-direction:  column-reverse;
    }
    .bath-img:nth-child(1) > .text{
        margin-right: 0;
        margin-left: 0;
    }
        .bath-img:nth-child(2) > .text{
        margin-right: 0;
            margin-left: 0px;
    }
           .bath-img:nth-child(3) > .text{
        margin-right: 0;
            margin-left: 0px;
    }
}

@media screen and (max-width:320px){
    
    #content-wrapper{
    padding: 0;
    }
        #sample1{
        height:300px;
    }
    #sample-outer{
        padding: 50px 0;
    }
    .sp-font{
        font-size: 30px;
    }
    .sample1_display{
        width: 100%;
    }
    .display__center p{
        font-size: 16px;
    }
    .colormark span{
        font-size: 12px;
    }
    .sample1_circle{
        width: 30px;
        height: 30px;
    }
    .sample1_circle:nth-of-type(1)::after{
        display: none;
    } 
    .sample1_circle::after,.sample1_circle::before{
        width: 30px;
        height: 30px;
    }
    .sample1__bottom .l-button{
        width: 25%;
        height: 50px;
        margin-right: 0;
        padding: 1px;
    }
    .sample1__bottom p{
        font-size: 14px;
        text-align:center;
    }
    .innerbtn p{
        width: 30px;
        height: 30px;
        font-size: 12px;
        line-height: 30px;
    }
    .innerbtn *{
        margin: 0;
    }
    .degree::before, .amount::before{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .degree::after, .amount::after{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    p.addHot,p.addCool{
        margin-right: -30px;
        font-size: 10px;
        line-height: 30px!important;
    }
    .text{
        width: 100%;
    }
    .text .__main{
        font-size: 20px;
    }
    .__desc{
        font-size: 14px;
    }
    .text-wrapper:nth-of-type(3){
        margin-top: 30px;
    }
    .solution-wrapper{
        margin:0 0 50px 0;
        width: 100%;
        
    }
    .bath-img:first-child img,.bath-img:nth-child(2) img{
        min-width: 300px;
        max-width:600px;
        width: 450px;
        height:auto;
        margin: 0 auto;
    }
    .bath-img:last-child img{
        min-width: 300px;
        width: 300px;
        height:auto;
        margin: 0 auto;
    }
    .bath-img:nth-child(3) > .text{
        margin-top: 30px;
    }
    .bath-img .text > p:last-child{
        font-size: 12px;
    }
    .bath-img:nth-child(3){
        margin-top: 0;
    }
    .footer ul{
        justify-content: center;
    }
    .footer ul li{
        width: 50%;
        margin-right:0;
    }
    .footer ul li a{
        padding: 3px 5px;
        font-size: 10px;
    }
    .footer p:first-child{
        font-size: 14px;
    }
    .copyright{
        font-size: 12px;
    }
    .panel-display{
        display: none;
    }
    .text-wrapper:last-child{
        margin-bottom: 70px;
    }
    .bath-img .text .__desc span:last-child{
        margin-top:0;
        display: inline-block;
    }
}